.Footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
    background-color: #343a40;
    color: white;
	min-height: 5rem;
	padding: 0rem 2rem;
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 25%;
}

.author {
    font-size: 14px;
}

.githubLink {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Footer p {
	margin: 0;
}

.Footer a {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.Footer a:link {
	text-decoration: none;
}

.Footer a:hover p {
	color: rgb(2, 82, 255);

	transition: all 250ms;
}

#github-logo {
	width: 3rem;
	margin: 0rem 1rem;
}

@media only screen and (max-width: 768px) {
	.Footer a p {
		display: none;
	}
}